.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inputs_container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn {
  display: block;
  font-size: 1.125rem;
  border: none;
  padding: 8px;
  width: 160px;
  border-radius: 4px;
  color: var(--purple-100);
  background: var(--primary-color);
  transition: 200ms ease-in;
}

.btn:hover {
  opacity: .8;
}