.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
  margin-top: 3rem;
}

.title {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--text-color);
}

.quotes {
  text-align: left;
  max-width: 970px;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-weight: 400;
  color: var(--text-color);
  letter-spacing: .2px;
  line-height: 1.125rem;
}

.double_quotes {
  font-size: 1.5rem;
  color: inherit;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.modal_overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 50%;
  max-width: 900px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modal_content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #202020;
  font-size: 14px;
  line-height: 16px;
}

.modal_content p {
  margin-top: 10px;
}

.block {
  width: 20px;
  height: 20px;
  background-color: #e3dafb;
}

.img_container {
  width: 100%;
}

.grid_container {
  display: flex;
  gap: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: flex-end;
}

.shadow{
  width: 6px;
  height: 6px;
  margin-left: 4px;
  border-radius: 4px;
  background-color: #7c7c7c;
  box-shadow: 12px 0px 0 #7c7c7c, 24px 0px 0 #7c7c7c;
}

.button {
  position: fixed;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  bottom: 2%;
  right: 1%;
}

.close_button {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  top: 2%;
  right: 1%;
}

@media screen and (max-width: 620px) {
  .modal {
    width: 90%;
  }
}