.main {
  padding: 2rem;
  background: var(--bg-color);
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
}

.title {
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.quotes {
  text-align: left;
  max-width: 970px;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-weight: 400;
  color: var(--text-color);
  letter-spacing: .2px;
  line-height: 1.125rem;
}

.double_quotes {
  font-size: 1.5rem;
  color: inherit;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.author {
  /* margin-top: .5rem; */
  line-height: 2rem;
  display: block;
  text-align: left;
  font-weight: 500;

}