.header {
  padding: 1rem;
  border-bottom: 1px solid var(--purple-200);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.5rem;
  display: inline-block;
}

.logo span {
  font-weight: 400;
}

.left_icons {
  margin-left: auto;
}

.icon {
  cursor: pointer;
  color: var(--primary-color);
  transition: color 300ms;

}

.icon:hover {
  filter: brightness(1.1);
}

.left_icons svg + svg {
  margin-left: 1rem;
}

.modal_title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.icon{
  cursor: pointer;
}