.container {
  width: 1110px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
}

.one_week {
  box-sizing: border-box;
  font-weight: 700;
  pointer-events: all;
  display: inline-block;
  height: 21px;
  width: 21px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background: var(--purple-200);
  position: relative;
  transition: all 200ms ease;
  border: 1px solid var(--bg-color);
}

.one_week.-register-mode {
  background: orange;
}

.one_week:hover {
  scale: 1.1;
  background: var(--primary-color);
}

.one_week:nth-child(52n+26) {
  margin-right: 8px;
}

.one_week:nth-child(520n+520) {
  margin-bottom: 8px;
}


.one_week:nth-child(520n+260)::after,
.one_week:nth-child(520n+520)::after {
  counter-increment: section 5;
  content: counter(section);
  position: absolute;
  width: 350%;
  left: 25px;
  display: block;
  font-weight: 500;
  color: var(--text-color);
}

.active {
  background: var(--purple-300);
}

@media screen and (max-width: 1194px) {
  .container {
    width: 555px;
  }

  .one_week:nth-child(52n+26) {
    margin-right: 0;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 280px;
  }
}