.container {
  width: 1110px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  pointer-events: none;
}

.one_week {
  font-weight: 700;
  pointer-events: all;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: none;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
  position: relative;
  transition: background 200ms ease;
}

.one_week:nth-child(52n+26) {
  margin-right: 8px;
}

.one_week:nth-child(520n+520) {
  margin-bottom: 8px;
}

.one_week:nth-child(520n+260)::after,
.one_week:nth-child(520n+520)::after {
  counter-increment: section 5;
  content: counter(section);
  position: absolute;
  width: 350%;
  left: 25px;
  display: block
}

.active {
  background: black;
}

.one_week:hover {
  background: black;
}

@media screen and (max-width: 1194px) {
  .container {
    width: 555px;
  }

  .one_week:nth-child(52n+26) {
    margin-right: 0;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 280px;
  }
}