.container {
  width: 1110px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  /* display: grid;
  grid-template-columns: repeat(52, 20px);
  grid-template-rows: repeat(10, 20px);
  gap: 1px;
  justify-items: stretch;
  text-align: center; */
}

.container:hover .one_week {
  background-color: #000;
}

.one_week {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: none;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
  transition: background 200ms ease;
}
.active {
  background: black;
}

.one_week:hover,
.one_week:hover ~ .one_week {
  background: #fff;
}

.red {
  margin-right: 10px;
}