.habit_modal {
  position: absolute;
  max-width: 860px;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color);
  border-radius: 8px;
}

.title {
  font-weight: 400;
}